@mixin mincho-font {
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "TakaoPMincho", "IPAPMincho", serif;
}
@mixin gothic-font {
  font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

.mahjong-board-frame {
  width: 600px;
  height: 600px;
  background-color: #0d5d19;
  
  position: relative;
  left: 0;
  top: 0;
}

.mahjong-point-board {
  background-color: #445544;
  width: 160px;
  height: 160px;
  position: absolute;
  left: 220px;
  top: 220px;

  color: #cccccc;

  .mahjong-point-board-wind {
    position: absolute;
    @include mincho-font;
    font-size: 28px;
    font-weight: bold;

    &.mahjong-point-board-wind-0 {
      left: 65px;
      bottom: 20px;
    }
    &.mahjong-point-board-wind-1 {
      top: 60px;
      right: 20px;
    }
    &.mahjong-point-board-wind-2 {
      left: 65px;
      top: 10px;
    }
    &.mahjong-point-board-wind-3 {
      left: 20px;
      top: 60px;
    }
  }
  .mahjong-point-board-score {
    display: block;
    position: absolute;
    width: 50px;
    height: 1rem;
    text-align: center;
    font-size: 14px;
    @include mincho-font;


    &.mahjong-point-board-score-0 {
      left: 55px;
      bottom: 6px;
    }
    &.mahjong-point-board-score-1 {
      right: 8px;
      top: 92px;
    }
    &.mahjong-point-board-score-2 {
      left: 55px;
      top: 40px;
    }
    &.mahjong-point-board-score-3 {
      left: 10px;
      top: 92px;
    }
  }
}

// 手牌
.mahjong-tiles {
  width: 460px;
  position: absolute;
  transform-origin: 0 0;

  &.mahjong-tiles-0 {
    left: 70px;
    bottom: 20px;

    img.mahjong-tile-image {
      cursor: pointer;
      &:hover{
        //指すと浮く
        display: inline-block;
        padding-bottom: 12px;
      }
    }
  }
  &.mahjong-tiles-1 {
    transform: rotate(-90deg);
    left: 535px;
    bottom: 55px;
  }
  &.mahjong-tiles-2 {
    transform: rotate(180deg);
    left: 510px;
    top: 70px;
  }
  &.mahjong-tiles-3 {
    transform: rotate(90deg);
    left: 65px;
    top: 80px;
  }
}

//山
.mahjong-deck-wanpai {
  width: 134.4px;
  height: 27px;
  position: absolute;
  transform: translate(-50%, -50%) rotate(180deg);
  left: 206px;
  top: 120px;
}
.mahjong-deck-top {
  width: 192px;
  height: 27px;

  position: absolute;
  transform: translate(-50%, -50%) rotate(180deg);
  left: 360px;
  top: 120px;
}
.mahjong-deck-right, .mahjong-deck-bottom, .mahjong-deck-left {
  width: 326.4px;
  height: 27px;
}
.mahjong-deck-right {
  position: absolute;
  transform: translate(-50%, -50%) rotate(-90deg);
  left: 480px;
  top: 300px;
}
.mahjong-deck-bottom {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 300px;
  top: 480px;
}
.mahjong-deck-left {
  position: absolute;
  transform: translate(-50%, -50%) rotate(90deg);
  left: 120px;
  top: 300px;
}

//牌の画像
img.mahjong-tile-image {
  width: 32px;
  height: 45px;
}
img.mahjong-tile-image-small {
  width: 19.2px;
  height: 27px;
}
